.titleStat {
  font-size: 30px;
  color: #c05805;
  border-bottom: 2px solid #db9501;
}

.notiStat {
  color: #862828;
}

.listTeam {
  list-style: none;
  border: 2px solid #862828;
  border-radius: 5px;
  padding: 10px;
  background-color: #db9501;
}

.itemStat {
  border: 1px solid #6e6702;
  margin: 2px;
  border-radius: 3px;
  padding: 2px;
  color: #2e2300;
}