.title {
  font-size: 40px;
  color: #c05805;
  border-bottom: 2px solid #db9501;
}

.btnTeam {
  display: flex;
  justify-content: center;
}

.btn {
  width: 100px;
  height: 45px;
  background-color: #6e6702;
  border: none;
  border-radius: 5px;
  color: #2e2300;
}

#btn1:hover,
#btn1:focus {
  transform: translateX(-10px);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #52ab98;
  border: none;
}

#btn2:hover,
#btn2:focus {
  transform: translateY(-10px);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2b6777;
  border: none;
}

#btn3:hover,
#btn3:focus {
  transform: translateX(10px);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #862828;
  border: none;
}

.btn:not(:last-child) {
  margin-right: 10px;
}